[submodule "mygpoclient-java"]
	path = mygpoclient-java
	url = git@github.com:Dragontek/mygpoclient-java.git
[submodule "volley"]
	path = volley
	url = https://android.googlesource.com/platform/frameworks/volley
